@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Madimi One", sans-serif;
}
body{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('img/background1.jpg') no-repeat;
    background-size: cover; 
    background-position: center;
    flex-direction: column;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

/* 메뉴바 */
.logo{
    font-size: 3em;
    color: #fff;
    user-select: none;
}

.logo span{
    display: inline-block;
    font-weight: 900;
    color: transparent;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    text-shadow: 0 0 0 rgb(255, 255, 255);
}

.logo span:nth-child(1) {
    animation-name: leftDisappear;
}

.logo span:nth-child(2) {
    animation-name: leftDisappear;
    animation-delay: .4s;
}

.logo span:nth-child(3) {
    animation-name: leftDisappear;
    animation-delay: .4s;
}

.logo span:nth-child(4) {
    animation-name: rightDisappear;
    animation-delay: 1s;
}

.logo span:nth-child(5) {
    animation-name: rightDisappear;
    animation-delay: 1s;
}

.logo span:nth-child(6) {
    animation-name: leftDisappear;
    animation-delay: 2s;
}

.logo span:nth-child(7) {
    animation-name: rightDisappear;
    animation-delay: 2s;
}

.logo span:nth-child(8) {
    animation-name: rightDisappear;
    animation-delay: 2.4s;
}

@keyframes leftDisappear {
    50% {
        transform: skew(50deg) translateY(-200%);
        text-shadow: 0 0 50px;
        opacity: 0;
    }
}

@keyframes rightDisappear {
    50% {
        transform: skew(-50deg) translateY(-200%);
        text-shadow: 0 0 50px;
        opacity: 0;
    }
}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after{
    transform: scaleX(1);
}

/* 로그인 창 */
.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navigation .btnLogin-popup:hover{
    background: #fff;
    color: green;
}

.wrapper{
    position: absolute;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
    z-index: 1;
}

.wrapper.active-popup{
    transform: scale(1);
}

.wrapper.active{
    height: 500px;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    transform: none;
    transform: translateX(-400px);
}

/* 회원가입 창 */
.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a{
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn-login, .btn-register{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
    padding: 0 10px;
}

.login-register p a:hover{
    text-decoration: underline;
}


/* 코인 검색창 */

.coinSearch {
    position: relative;
    margin: 25px;
    height: 50px;
    left: 0;
  }
  
.S-container{
    top: 25px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }
  
.S-container input#search{
    width: 40px;
    height: 40px;
    background: #1a1a1f;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
}

.S-container input#search::-webkit-input-placeholder {
    color: #65737e;
}
 .S-container input#search:-moz-placeholder {
    color: #65737e;  
}
 .S-container input#search::-moz-placeholder {
    color: #65737e;  
}
 .S-container input#search:-ms-input-placeholder {  
    color: #65737e;  
}
 
.S-container .S-icon{
    position: absolute;
    top: 50%;
    margin-left: 15px;
    margin-top: 9px;
    z-index: 1;
    color: #8b8b8b;
}

.S-container:hover button.S-icon:hover{
    background: #000000;
  }

.S-container input#search:hover, .S-container input#search:focus, .S-container input#search:active{
    outline:none;
    background: #eeeeee;
}

.S-container  input#search:focus, .S-container  input#search:active{
    outline:none;
    width: 300px;
}
.S-container:hover input#search{
    width: 300px;
    transition: .6s;
}

/* 코인 리스트 */

.header_fixed {
    position: relative;
    max-height: 600px;
    width: 85%;
    overflow: auto;
}

.header_fixed thead th {
    position: sticky;
    top: 0;
    background-color: rgb(48, 47, 47);
    color: #e6e7e8;
    font-size: 15px;
}

.coinList {
    width: 100%;
    border-collapse: collapse;
}

.header_fixed::-webkit-scrollbar {
    width: 10px;
}

.header_fixed::-webkit-scrollbar-track {
    background-color: rgb(224, 223, 223);
}

.header_fixed::-webkit-scrollbar-thumb { 
    background-color: black;
}

.header_fixed::-webkit-scrollbar-button {
    display: none;
}

th, td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
}

tr {
    background-color: #f8f8f8;
}

tr:hover td {
    color: #44b478;
    cursor: pointer;
    background-color: #ffffff;
}

td button {
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: black;
    color: #e6e7e8;
}