@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

*{
    font-family: "Madimi One", sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}
h1 {
    font-size: 48px;
    font-weight: 100;
}
.contents1{
    font-size: 20px;
    font-weight: lighter;
}
.contents2{
    font-size: 18px;
}
.contents1_bold{
    font-size: 18px;
    font-weight: bold;
}

.intro_bg{
    background: url('../img/background1.jpg');
    width: 100%;
    height: 700px;
}
.header{
    display: flex;
    width: 100%;
    margin: auto;
    height: 86px;
}
.logo{
    width: 300px;
    margin: 0 10%;
    font-size: 3em;
    user-select: none;
    line-height: 80px;
}
.logo>span{
    color: #b0c4de;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    text-shadow: 0 0 0 rgb(255, 255, 255);
}
.logo span:nth-child(1) {
    animation-name: leftDisappear;
}

.logo span:nth-child(2) {
    animation-name: leftDisappear;
    animation-delay: .4s;
}

.logo span:nth-child(3) {
    animation-name: leftDisappear;
    animation-delay: .4s;
}

.logo span:nth-child(4) {
    animation-name: rightDisappear;
    animation-delay: 1s;
}

.logo span:nth-child(5) {
    animation-name: rightDisappear;
    animation-delay: 1s;
}

.logo span:nth-child(6) {
    animation-name: leftDisappear;
    animation-delay: 2s;
}

.logo span:nth-child(7) {
    animation-name: rightDisappear;
    animation-delay: 2s;
}

.logo span:nth-child(8) {
    animation-name: rightDisappear;
    animation-delay: 2.4s;
}

@keyframes leftDisappear {
    50% {
        transform: skew(50deg) translateY(-200%);
        text-shadow: 0 0 50px;
        opacity: 0;
    }
}

@keyframes rightDisappear {
    50% {
        transform: skew(-50deg) translateY(-200%);
        text-shadow: 0 0 50px;
        opacity: 0;
    }
}
.nav{
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    width: calc(1280px - 250px);
    margin-right: 10%;
}
.nav>li{
    margin-left: 84px;
    color: #b0c4de;
}
.nav>li>a{
    color: #b0c4de;
}
.intro_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: calc(718px - 250px);
}
.intro_title>li>h1,
.intro_title>li>p{
    color: #b0c4de;
    padding: 10px;
}
.amount{
    display: flex;
    background: #fff;
    position: relative;
    top: -66px;
    width: 1280px;
    height: 132px;
    margin: 0 auto;
}
.amount>li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 426.666667px;
    height: 132px;
}
.amount>li>p:not(:last-child){
    border-right: 1px solid #e1e1e1;
}


.trade{
    width: 100%;
    justify-content: center;
}


/* 메인 0 부분 */
.main_text0{
    width: 100%;
    margin-top:-132px;
    padding: 150px 0;
    background: #f1f2f3;
}
.main_text0 > h1{
    text-align: center;
}
.main_text0 > .contents1 {
    text-align: center;
    padding-bottom: 40px;
}

/* 코인 검색창 */
.coinSearch {
    position: relative;
    top: 20%;
    left: 9%;
    z-index: 1;
}

.S-container {
    position: relative;
    display: inline-block;
}

.S-container input#search {
    width: 300px;
    height: 40px;
    background: #b0c4de;
    border: none;
    font-size: 10pt;
    color: #fff;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
}

.S-container span {
    position: relative;
    left: 35px;
    transform: translateY(-50%);
    color: #888;
}
.S-container input#search:hover,
.S-container input#search:focus,
.S-container input#search:active {
    outline: none;
    background: #eeeeee;
}

.S-container input#search:focus,
.S-container input#search:active {
    outline: none;
    width: 300px;
}

.S-container:hover input#search {
    width: 300px;
    transition: .6s;
}

/* 코인 리스트 */

.header_fixed {
    position:relative;
    margin: auto;
    width: 80%;
    max-height: 60%;
    overflow: auto;
    z-index: 1;
    overflow-x: hidden;
    table-layout: fixed;
}

.header_fixed thead th {
    position: sticky;
    top: 0;
    background-color: rgb(48, 47, 47);
    color: #e6e7e8;
    font-size: 15px;
}

.coinList {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.header_fixed::-webkit-scrollbar {
    width: 10px;
}

.header_fixed::-webkit-scrollbar-track {
    background-color: rgb(224, 223, 223);
}

.header_fixed::-webkit-scrollbar-thumb {
    background-color: black;
}

.header_fixed::-webkit-scrollbar-button {
    display: none;
}

th, td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
}

tr {
    background-color: #f8f8f8;
}

tr:hover td {
    color: #44b478;
    cursor: pointer;
    background-color: #ffffff;
}

td button {
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: black;
    color: #e6e7e8;
}

/* 검색창 값 == 코인명 */
.coinList tbody tr.highlight {
    background-color: #b0c4de;
}

/*코인 거래창*/
.coinList {
    flex: 1;
    margin-right: 20px;
}

.coinSearch {
    margin-bottom: 20px;
}

.chart-container {
    flex: 1;
    margin-right: 20px;
}

.transaction-container {
    width: 300px;
}

/* 거래창 */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 80%;
    max-width: 1300px;
    max-height: 90vh;
    z-index: 99999;
}

.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 8px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.close {
    color: #aaa;
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.chart-container,
.trade-section {
    width: 50%;
    box-sizing: border-box;
    height: 100%;
}

.trade-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: 50px;
    border-bottom: 2px solid #162938;
    width: 80%;
}
.trade-input input {
    display: none;
}
.trade-input label {
    display: inline-block;
    width: 120px;
}

.trade-input input[type="number"] {
    display: block;
    width: calc(100% + 30px);
    margin-left: 10px;
    padding: 5px;
    border: none;
    outline: none;
    background-color: transparent;
}

.trade-input input[type="number"]::-webkit-inner-spin-button,
.trade-input input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: inner-spin-button;
    margin-left: -30px;
}

.coin-info {
    margin-top: 20px;
    padding-top: 20px;
}

.info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info-item p {
    margin: 0;
    font-weight: bold;
}

.info-item p:last-child {
    margin-left: 10px;
}
/* 메인 1 부분*/

.main_text1{
    width: 100%;
    height:659px;
}
.main_text1 > h1{
    padding-top:50px;
    text-align: center;
}
.main_text1 > .contents1 {
    text-align: center;
}
.about {
    width:1280px;
    display: flex;
    margin: 49px auto;
    height:427px;
}
.icons{
    display: flex;
    width:1280px;
    height: 302px;
    margin:auto;
}
.icons > li {
    flex: 1;
    background: #f1f2f3;
    margin-top:49px;
    height:302px;
    text-align: center;
}
.icons > li > .icon_img{
    margin-top:18px;
}

.icons > li:not(:last-child){
    margin-right: 20px;
}

.icons .contents2 {
    width:280px;
    margin:auto;
    letter-spacing: -1px;
}
.icons .contents2 {
    width:280px;
    margin:auto;
    letter-spacing: -1px;
}
.more{
    width:100px;
    height: 30px;
    background: #68717e;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    margin:25px auto;
}
/* 푸터 */
.footer{
    display: flex;
    background: #7c7c7c;
    padding:30px;
    text-align: center;
}
.footer > div:first-child {
    flex:6;
    text-align: center;
    color: #272b31;
    font-size: 40px;
}
.footer > div:last-child {
    flex:7;
    color: #272b31;
}
